<div class="flex items-center justify-between mb-10 mt-5 ms-4 text-color">
  <h1 class="text-2xl font-medium">Hello, {{ user.name }}</h1>
  <img class="w-5 h-5 cursor-pointer me-5" ngSrc="assets/settings.png" alt="User settings" (click)="goToUserSettings()"
       height="2295" width="2295">
</div>
<div class="grid grid-cols-2 ms-4 me-5 text-color">
  <div>
    <p class="mb-4">Info:</p>

  </div>
  <div class="secondary-background p-3 rounded-md">
    <p class="mb-4">Your recipes:</p>
    <div class="grid grid-cols-1 gap-4">
      <div *ngFor="let recipe of userRecipes" [routerLink]="['/recipe', recipe.id]" class="dark-background rounded-md shadow-sm p-4 hover:shadow-md transition duration-200 ease-in-out cursor-pointer">
        <a class="text-lg text-white hover:underline">
          {{ recipe.recipeName }}
        </a>
      </div>
      <div *ngIf="userRecipes.length == 0">
        <a class="text-xs ms-5">No recipes yet..</a>
      </div>
    </div>
  </div>
</div>
<div class="flex justify-center mt-10">
  <button (click)="logOut()" class="px-2 text-color button-style font-medium">Log Out</button>
</div>
