<div>
  <h2>Login</h2>
  <form (ngSubmit)="signIn(email, password)">
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" [(ngModel)]="email" required>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" [(ngModel)]="password" required>
    </div>
    <button type="submit">Login</button>
  </form>
  <button (click)="makeUser(email, password)">New User</button>
  <div>
    {{ success }}
  </div>
</div>
