<div class="grid grid-cols-2">
  <div class="mt-4 ms-4 text-xs">
    <label>Add:</label>
    <div class="grid grid-cols-2 gap-y-2 ms-4 mt-2">
      <label>Name of Recipe</label>
      <input type="text" id="recipeName" [(ngModel)]="recipe.recipeName">
      <label>Description:</label>
      <input type="text" id="recipeDescription" [(ngModel)]="recipe.description">

    </div>
    <div class="grid-cols-4 grid ms-4 my-4">
      <div class="col-span-1">
        <label>Ingredients:</label>
      </div>
      <div class="col-span-3 grid grid-cols-2 gap-y-2 ms-4">
        <label>Ingredient name:</label>
        <input type="text" id="ingredientName" [(ngModel)]="currentIngredient.ingredient"
               class="border-gray-500 border-2">
        <label>Ingredient Amount:</label>
        <input type="number" id="ingredientAmount" [(ngModel)]="currentIngredient.amount"
               class="border-gray-500 border-2">
        <label>Ingredient Unit</label>
        <input type="text" id="ingredientUnit" [(ngModel)]="currentIngredient.unit" class="border-gray-500 border-2">
        <button class="col-span-2" (click)="addIngredients()">Add ingredient</button>
      </div>
    </div>
    <div class="grid-cols-4 grid ms-4 my-4">
      <div>
        <label>Step:</label>
      </div>
      <div class="col-span-3 grid grid-cols-2 gap-y-2 ms-4">
        <label>Step description:</label>
        <input type="text" id="stepDescription" [(ngModel)]="step" class="border-gray-500 border-2">
        <button class="col-span-3" (click)="addStep()">Add step</button>
      </div>
    </div>
    <div class="grid grid-cols-3 ms-4 gap-y-2">
      <div>
        <label>Tag:</label>
      </div>
      <div class="col-span-2">
        <input type="text" [(ngModel)]="tag">
      </div>
      <div class="col-span-3 w-max">
        <button (click)="addTag()">Add Tag</button>
      </div>
    </div>
  </div>
  <div class="text-xs my-4">
    <label>Recipe:</label>
    <p>{{recipe.recipeName}}</p>
    <p>{{recipe.description}}</p>
    <div *ngIf="recipe.ingredients.length != 0" class="mb-2">
      <p>Ingredients:</p>
    </div>
    <div class="" *ngFor="let singleIngredient of recipe.ingredients">
      <p>{{singleIngredient.ingredient}} {{singleIngredient.amount}} {{singleIngredient.unit}}</p>
    </div>
    <div *ngIf="recipe.steps.length != 0" class="mb-2">
      Ingredients
    </div>
    <div *ngFor="let steps of recipe.steps">
      <p>{{step}}</p>
    </div>
  </div>
</div>

<button (click)="submitRecipe()">Submit recipe</button>
